.modal {
  background: rgba(0, 0, 0, 0.2);
}

.cursor-pointer {
  cursor: pointer;
}

.avatar-sm {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.avatar-xs {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.hover-overlay {
  transition: opacity 0.3s ease;
}

.avatar-sm:hover .hover-overlay {
  opacity: 1 !important;
}
